<div class="jumbotron">
  <h1 class="text-center">Add New Item</h1>
</div>

<div class="row">
  <div class="col-md-6 .col-sm-6 .col-xs-6 col-md-offset-3">

		<%= form_for :menu do |f| %>

			<div class="form-group">
				<%= f.label "Item" %><br>
    		<%= f.text_field :item, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label "List id" %><br>
    		<%= f.text_field :listid, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label "Number of Orders" %><br>
    		<%= f.text_field :num_orders, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label "Price" %><br>
    		<%= f.text_field :price, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.submit "Add item", class: "btn btn-primary" %>
			</div>

		<% end %>

 	</div>
</div>


